body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

p {
  line-height: 1.5;
}

p.button {
  text-align: center;
}

button.setvisible, a.button {
  font: inherit;
  color: #fff;
  background-color: #000;
  display: block;
  margin: 0 auto;
  border: 0;
  border-radius: 3px;
  padding: 0.5em 1em;
  cursor: pointer;
}

a.button {
  width: 100px;
  text-decoration: none;
  line-height: normal;
}

.count {
  width: 3em;
}

.resourceinput {
  display: inline-block;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.leftcolumn {
  float: left;
  width: 36em;
  background-color: #dddddd;
  padding: 5px;
  border-radius: 3px;
}

.rightcolumn {
  float: right;
  width: calc(100% - 36em - 20px);
  margin: 0px;
  padding: 0px;
}

.settings {
  background-color: #dddddd;
  padding: 1em;
  border-radius: 3px;
}

.setting {
  margin: 0.5em 0
}

.setting input[type=checkbox] {
  margin-left: 20px;
}

.setting input[type=radio] {
  margin-left: 20px;
}

.setting input[type=text] {
  width: 3em;
}

.result {
  background-color: #eeeeee;
  margin-top: 10px;
  padding: 5px;
  border-radius: 3px;
}

.goal > .goal {
  padding: 0.5em;
  border-left: 1px solid #ccc;
  margin-left: 2em;
  position: relative;
}

.goal > .goal:before {
  content: " ";
  display: inline-block;
  margin-right: 0.5em;
  margin-left: -0.5em;
  width: 1em;
  border-bottom: 1px solid #ccc;
  position: relative;
  z-index: 2;
}

.goal > .goal:last-of-type:after {
  content: '';
  display: block;
  position: absolute;
  width: 5px;
  height: 10000px;
  background: white;
  top: 27px;
  left: -3px;
}

.outputh1 {
  margin-bottom: 1em;
  font-size: large;
}

.goals > .goal {
  margin-bottom: 1em;
  background: #fff;
  padding: 0.5em;
  border-radius: 3px;
  overflow: hidden;
  font-size: 0.9em;
}

.goal img {
  margin: 0 0.2em;
}

.makerspace {
  display: inline-block;
  width: 2em;
}

.icon {
  vertical-align: middle;
  width: 32px;
}

.warning {
  color: red;
}